@import '../../../utilits/utilits-css-variables';

#container-for-search-and-etc {
    display:flex;
    align-items: center;
    justify-content: space-between;
}
#input-container {
    position:relative;
}
#input-container input[type="text"] {
    width:300px;
    height:33px;
    padding-left:40px;
    box-sizing:border-box;
    font-size:12px;
    background-color:transparent;
    border:$searchBarBorder;
    color:white;
    &::-webkit-input-placeholder {
        color:white;
    }
}
#input-container i[class="fa fa-search"] {
    position:absolute;
    font-size:15px;
    top:8px;
    left:16px;
    color:white;
}
#etc {
    display:flex;
    flex-flow:row nowrap;
}
